.diagram_bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diagram_bar__inner {
  height: 100%;
  width: 100%;
  border: 1px solid #313131;
  border-radius: 12px;
  background-color: #fefae1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.diagram_bar__fill {
  background-color: #bd8025;
  width: 100%;
  transition: all 0.3s ease-out;
}

.diagram_bar_label {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
