.new_cost__controls {
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
  margin-bottom: 1rem;
}

.new_cost__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new_cost__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.new_cost__control:not(last-child) {
  margin-right: 40px;
}
.new_cost__actions {
  margin-left: auto;
  display: flex;
  align-self: flex-end;
  margin-right: 40px;
}
